<%- include('../../partials/header') %>
<div class="page-body">
	<a href="<%= prevUrl %>" class="prev-page"><span>Back</span></a>

	<h1 class="page-heading">View A Meal Schedule</h1>

	<div class="card mx-auto" style="width: 30rem">
		<img src="/uploads/<%= data.img %>" class="card-img-top" alt="<%= data.menu_item %>_image" />

		<div class="card-body">
			<h5 class="card-title my-1"><%= data.first_name %> <%= data.last_name %></h5>
			<p class="card-text my-1"><%= data.item_name %></p>
			<p class="card-text my-1"><%= new Date(data.date).toLocaleDateString('en-US',{month: 'short', day:'numeric', year:'numeric', timeZone: 'UTC'}) %></p>
		</div>

		<div class="card-body">
			<div class="admin-buttons">
				<!-- <a href="/tap-canteen/admin/schedules/single-schedule-edit/<%= data.id %>" class="btn btn-warning">Edit Item</a> -->
				<a href="/tap-canteen/admin/schedules/single-schedule-delete/<%= data.id %>" class="btn btn-danger">Delete Item</a>
			</div>
		</div>
	</div>
</div>
<%- include('../../partials/footer') %> /tap-canteen/admin/schedules/single-schedule-view/
