<%- include('./partials/header') %>

    <!-- Hero section -->
    <div class="p-5 text-center bg-image rounded-3 hero-section" ; height: 350px;>
        <!-- <img src="/public/lunchroom-hero image.jpg" alt="" class="hero-img"> -->
        <!-- <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);"> -->
        <div class="d-flex justify-content-center align-items-center h-100 z-10">
            <div class="text-white">
                <h1 class="mb-3">WELCOME to the <br> TAP Program Lunch App</h1>
                <div class="row home-cta">
                    <!-- <div class="col-2"></div> -->
                    <div class="col-6 mx-auto">
                        <a href="/tap-canteen/auth/signup" class="btn btn-primary px-5 signup-link">Signup</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--end Hero section -->


    <!-- card container -->
    <div class="page-body mt-3">
        <div class="page-heading">
            Our Star Meals
        </div>
        <% for( let i=0; i < lastFourMeal.length; i++ ) { %>
            <div class="card" style="width: 18rem">
                <img src="../uploads/<%= lastFourMeal[i].img %>" class="card-img-top"
                    alt="<%= lastFourMeal[i].item_name %>_image" />
                <div class="card-body">
                    <h5 class="card-title">
                        <%= lastFourMeal[i].item_name %>
                    </h5>
                    <p class="card-text">
                        <%= lastFourMeal[i].description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Qty: <%= lastFourMeal[i].quantity %>
                    </li>
                </ul>
                <div class="card-body">

                </div>
            </div>
            <% } %>

                <div class="row">
                    <div class="col-2 mx-auto">
                        <a href="/tap-canteen/lunch-menu" class="btn btn-secondary px-5 signup-link">View More</a>
                    </div>
                </div>
    </div>


    <%- include('./partials/footer') %>