<%- include('./partials/header') %>
<section class="page-body">
	<h1 class="page-heading">Menu</h1>

	<div class="alert alert-info text-center" role="alert">A complementary bottle of water (WATA) is served with all meals.</div>

	<div class="menu-card-container mb-4">
		<% for( let i = 0; i < mealData.length; i++ ) { %>
		<div class="card" style="width: 24%">
			<img src="../uploads/<%= mealData[i].img %>" class="card-img-top lunch-img" alt="<%= mealData[i].item_name %>_image" />
			<div class="card-body">
				<h5 class="card-title"><%= mealData[i].item_name %></h5>
				<p class="card-text" style="min-height: 100px;"><%= mealData[i].description %></p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Qty: <%= mealData[i].quantity %></li>
			</ul>
			<div class="card-body">
				<% if ((locals.sessionData ? sessionData.isLoggedIn : false) && (locals.sessionData ? sessionData.role == 'ADMIN' : false)) { %>
				<div class="admin-buttons my-2">
					<a href="/tap-canteen/admin/lunch-menu/menu-item-view/<%= mealData[i].id %>" class="btn btn-info">View Item</a>
					<a href="/tap-canteen/admin/update-menu-item/<%= mealData[i].id %>" class="btn btn-warning">Edit Item</a>
					<a href="/tap-canteen/admin/lunch-menu/delete-menu-item/<%= mealData[i].id %>" class="btn btn-danger">Delete Item</a>
				</div>

				<% } else if ((locals.sessionData ? sessionData.isLoggedIn : false) && (locals.sessionData ? sessionData.role == 'USER' : false)) { %>
				<div class="user-buttons my-2">
					<!-- DISPLAY BUTTON IF USER HAVEN'T SELECTED MEAL FOR THE DAY AS YET -->
					<% if (!isMealItemSelected) { %>
					<a href="/tap-canteen/create-menu-schedule/<%= mealData[i].id %>" class="btn btn-primary">Select Meal</a>
					<% } else { %>
						<div class="alert alert-primary">Meal choice already selected for the day.</div>
					<% } %>
				</div>
				<% } %>
			</div>
		</div>
		<% } %> <% if ((locals.sessionData ? sessionData.isLoggedIn : false) && (locals.sessionData ? sessionData.role == 'ADMIN' : false)) { %>
		<a href="/tap-canteen/admin/create-menu-item" style="width: 24rem" class="new-item card" id="newItem">
			<i class="fi fi-sr-add"></i>
		</a>
		<% } %>
	</div>
</section>
<%- include('./partials/footer') %>
