<%- include('../partials/header') %>
<div class="page-body">
	<h1 class="page-heading">All Meal Schedules</h1>
	<table class="table table-success table-striped">
		<thead>
			<tr>
				<td>Student Name</td>
				<td>Meal</td>
				<td>Date</td>
				<td colspan="3">Actions</td>
			</tr>
		</thead>
		<tbody class="table-hover">
			<% for( let i = 0; i < allSchedules.length; i++ ) { %>
			<td><%= allSchedules[i].first_name %> <%= allSchedules[i].last_name %></td>
			<td><%= allSchedules[i].menu_item %></td>
			<td><%= new Date(allSchedules[i].date).toLocaleDateString('en-US',{month: 'short', day:'numeric', year:'numeric', timeZone: 'UTC'}) %></td>
			<td>
				<a href="/tap-canteen/admin/schedules/single-schedule-view/<%= allSchedules[i].schedule_id %>" class="btn btn-info">View</a>
			</td>
			<td>
				<a href="/tap-canteen/admin/schedules/single-schedule-edit/<%= allSchedules[i].schedule_id %>" class="btn btn-warning">Edit</a>
			</td>
			<td>
				<a href="/tap-canteen/admin/schedules/single-schedule-delete/<%= allSchedules[i].schedule_id %>" class="btn btn-danger">Delete</a>
			</td>
			<% } %>
		</tbody>
	</table>
</div>
<%- include('../partials/footer') %>
