<%- include('../partials/header') %>
<section class="page-body">
	<a href="<%= prevUrl %>" class="prev-page"><span>Back</span></a>
	<h1 class="page-heading">Menu</h1>
	<div class="menu-card-container">
		<% for( let i = 0; i < mealData.length; i++ ) { %>
		<div class="card" style="width: 18rem">
			<img src="<%= mealData[i].img %>" class="card-img-top" alt="<%= mealData[i].item_name %>_image" />
			<div class="card-body">
				<h5 class="card-title"><%= mealData[i].item_name %></h5>
				<p class="card-text"><%= mealData[i].description %></p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Qty: <%= mealData[i].quantity %></li>
				<!-- <li class="list-group-item">A second item</li>
				<li class="list-group-item">A third item</li> -->
			</ul>
			<div class="card-body">
				<div class="admin-buttons">
					<a href="/tap-canteen/admin/view-menu-item/<%=  %>" class="btn item-card-view">View Item</a>
					<a href="/tap-canteen/admin/update-menu-item/<%=  %>" class="btn item-card-edit">Edit Item</a>
					<a href="/tap-canteen/admin/delete-menu-item/<%=  %>" class="btn item-card-delete">Delete Item</a>
				</div>
				<div class="user-buttons">
					<a href="#" class="btn item-card-select-meal">Select Meal</a>
				</div>
			</div>
		</div>
		<% } %>

		<a href="/tap-canteen/admin/create-menu-item" class="new-item card">
			<i class="fi fi-sr-add"></i>
		</a>
	</div>
</section>
<%- include('./partials/footer') %>
